	body {
		direction: rtl;
		padding: 50px;
		background-color: #070D59;
	}

	/* .height {
    height: 100vh
} */

	.search {
		position: relative;
		box-shadow: 0 0 40px rgba(51, 51, 51, .1)
	}

	.search input {
		height: 60px;
		text-indent: 110px;
		border: 2px solid #d6d4d4;

	}

	.search input:focus {
		box-shadow: none;
		border: 2px solid rgb(4, 4, 112)
	}

	.search .fa-search {
		position: absolute;
		top: 20px;
		left: 16px
	}

	.search button {
		position: absolute;
		top: 5px;
		right: 5px;
		height: 50px;
		width: 110px;
		background: rgb(23 84 145);
	}

	#srch_Body {
		color: rgb(29 180 199)
	}

	.qalink {
		font-size: 20px;
		font-weight: bold;
	}


	#dorar {
		padding: 10px;
	}

	.info-subtitle {
		color: #bfbf24;

	}

	.info-subtitle:not(:first-child):before {
		/* content: '<br>'; */
		content: '\A';
		white-space: pre;
	}

	.search-keys {
		color: #ed9090;
		font-weight: bolder;
	}

	#srch_Body {
		margin-top: 50px;
		margin-right: 50px;
		text-shadow: 1.5px 1.5px black;
		background-color: #14182e;
		padding: 30px;
		border-radius: 5%;
	}

	.hadith {
		background-color: #0b6c6c59;
		margin-top: 15px
	}

	@media (max-width: 992px) {

		body {
			padding: 10px !important;
		}



		#srch_Body {
			margin-right: 2px;
			margin-left: 2px;
		}

		.container,
		.container-fluid,
		.container-lg,
		.container-md,
		.container-sm,
		.container-xl,
		.container-xxl {
			width: 100%;
			padding-left: 1px;
			padding-right: 1px;
		}
	}

