body {
    margin-top: 100px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px black,
        -1px -1px white;


}

.navbar-brand {
    color: rgb(163, 163, 0) !important;
}

.navbar-brand:hover {
    color: yellow !important;
}

.myMenu:hover {
    opacity: 75% !important;
    /* color: rgb(71, 71, 3) !important; */
    color: yellow !important;
    background-color: #6c757d;

}

.accordion-body {
    /* background-color: #6c757d; */

    /* background-image: url('../img/books.png'); */
    background: url('../img/books.png');

    background: url('../img/books.png') repeat 50% 50%;

}

.card.m-auto.mt-3.mb-3.g-col-2.g-col-md-4.row {
    background-color: #6e9ecd;
    /* // #5b8891; */

    color: black;
}

#myView {
    width: 60%;
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    border-radius: 5% 5% 0% 5%;
    box-shadow: 5px 5px black;
}

.carousel-caption {
    text-shadow: 1px 1px black, -1px -1px black;
    color: yellow
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    border-radius: 50%;
    /* text-shadow:1px 1px black, */
    /* -1px -1px black; */
    box-shadow: 2px 2px rgb(65, 5, 5);
}


footer {
    margin-top: 50px;
    font-size: larger;
    font-weight: bold;
}



#mySliderX {
    margin-top: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1440px) {
    #mySliderX {
        width: 50%;

    }
}

@media (max-width:1200px) {
    #mySliderX {
        width: 70%;
    }
}

@media (max-width:992px) {
    #mySliderX {
        width: 70%;
    }
}

@media (max-width:768px) {
    #mySliderX {
        width: 70%;
        margin-right: 30%;
        margin-left: auto;

    }
}

@media (max-width:575px) {
    #mySliderX {
        width: 80%;
        margin-right: 30%;
        margin-left: auto;

    }

    #myView {
        width: 100%;

    }
}

@media (max-width:360px) {
    #mySliderX {
        width: 100%;
        margin-right: 20%;
        margin-left: auto;

    }

    #myView {
        width: 100%;
        min-height: 150px;

    }
}
